RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ combo.php [NC,L]
<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresByType text/javascript "access plus 1 years"
	ExpiresByType application/x-javascript "access plus 1 years"
</IfModule>