<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresByType text/css "access plus 10 years"
	ExpiresByType text/javascript "access plus 10 years"
	ExpiresByType application/x-javascript "access plus 10 years"
</IfModule>

RewriteRule ^[0-9]{2}w[0-9]{2}/(.*)$ assets/$1 [L]